<html>
<head>
    <title>IP Address Locator</title>
    </head>

<body>
  <body style="background-color: powderblue;">
    <div class="container">
      
        <p style="text-align:center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:50px;"><b>IP Address Locator</b></p>
        <div class="wrapper" style = "background-color:whitesmoke; border-style: solid;border-color: gray; width: 500px; margin-left:auto; margin-right:auto; text-align:center;">
          <div class="card-body">
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">IP Address:<b> {{ html_ip }}</b></p>
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">Internet Service Provider:<b> {{ html_isp }}</b></p>
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">IP Version:<b> {{ html_version }}</b></p>
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">Country:<b> {{ html_country }}</b></p>
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">Region:<b> {{ html_region }}</b></p>
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">City:<b> {{ html_city }}</b></p>
            <p style="text-align:left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:25px;">Postal Code:<b> {{ html_postal }}</b></p>
            
            
            
          </div>
        </div>  
    </div>
</body>

</html>